@font-face {
    font-family:TTLakes-Medium;
    src: url(fonts/TTLakes-Medium.woff);
}

@font-face {
    font-family:TTLakes-Regular;
    src: url(fonts/TTLakes-Regular.woff);
}

body {
    margin:0;
}

.brands {
    margin: auto;
    background-color: #F8F8F8;
}

.brands__head {
    padding: 16px 0 0 16px;
    margin: 0;
    background-color: #FFFFFF;
    font-family: TTLakes-Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: inherit;
    color: #7E7E82;
    background: linear-gradient(-270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    border-top: 1px solid #D9FFF5;
}

.brands__list {
    margin-left: 16px;  
}

.list__element {
    margin-top: 16px;
    display: flex;
    width: 240px;  
    background: url(images/Bitmap.svg) 16px center no-repeat #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    margin-bottom: 42px;
}

.list__element--2 {
    background-image: url(images/Bitmap\(sam\).svg)
}

.list__element--3 {
    background-image: url(images/Bitmap\ \(1\).svg);
}

.list__element--4 {
    background-image: url(images/Bitmap\ \(2\).svg);
}

.list__element--5 {
    background-image: url(images/Bitmap\ \(3\).svg);
}

.list__element--6 {
    background-image: url(images/Bitmap\ \(4\).svg);
}

.list__element--7 {
    background-image: url(images/Bitmap\ \(5\).svg);
}

.list__element--8 {
    background-image: url(images/Bitmap\ \(6\).svg);
}

.list__element--10 {
    background-image: url(images/Bitmap\(sam\).svg);
}

.list__element--11 {
    background-image: url(images/Bitmap\ \(1\).svg);
}

.list__button {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(images/go.svg);
    margin: 16px 16px 16px auto;
}

.swiper {
    width: 100%;
}

.info__button {
    margin: 24px 0 0 57px;
    display: none;
    font-family: TTLakes-Medium;
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.2px;
    cursor: pointer;
    border: hidden;
    background: none;
}

.info__expand {
    left: 24px;
    width: 24px;
    height: 24px;
    position: absolute;
    background-image: url(images/expand.svg);
}

.info__expand--hide {
    background-image: url(images/expand2.svg);
}

span.swiper-pagination-bullet {
    background: #DDDDDD;
    width: 12px;
    height: 12px;
}

span.swiper-pagination-bullet-active {
    background: #B5B6BC;
    width: 12px;
    height: 12px;
}

 @media (min-width: 768px) {

    .swiper-wrapper {
        display: flex;
        flex-wrap: wrap;
    } 

    div.swiper-slide {
        width:248px;
    }

    .list {
        flex-direction: column; 
        display: flex;
    }

    .brands__list {
        margin: 8px 0 0 0;
    }

    .list__element {
        width: 224px;
        margin: 16px 0 0 24px;
    } 

    .list__element--hidden {
        display: none;
    }

    .head {
        padding: 16px 0 0 24px;
    }

    .info__button--show {
        display: block;
    }
}

@media (min-width: 1120px) {

    div.swiper-slide {
        width:264px;
    }

    .list__element {
        width: 240px;
        margin: 16px 0 0 32px;
    } 

    .head {
        padding: 16px 0 0 32px;
    }

    .info__expand {
        left: 32px;
    }

    .info__button {
        margin-left: 65px;
    }
}
 
  
